@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Nunito:wght@500&display=swap");

* {
  list-style: none;
  margin: 0px;
  font-family: "Nunito", sans-serif;
  padding: 0px;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    to bottom,
    black,
    rgb(66, 66, 66),
    rgb(30, 30, 30),
    rgb(51, 51, 51),
    black
  );
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */ /* 
  background: linear-gradient(to bottom, #505050, #101010, #505050, #101010); */
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  background-color: rgba(5, 5, 5, 0.5);
  color: aliceblue;
}

.portfolio {
  padding: 25px;
  margin-bottom: 30px;
  font-size: 25px;
  border: 3px solid transparent;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(160, 194, 248, 0.5);
  border-radius: 10px;
  color: black;
  font-weight: 900;
  transition: 0.5s;
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portfolio:hover {
  background-color: rgba(160, 194, 248);
  border-color: whitesmoke;
  font-size: 30px;
}

#photo-container img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(160, 194, 248, 0.5);
}

#photo-container {
  display: flex;
  flex-wrap: wrap;
}

.linkedin-li a {
  font-size: 14px;
}

hr {
  background-color: whitesmoke;
  height: 1px;
  width: 100%;
}
#nome-completo {
  width: 200px;
  font-size: 28px;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

h3 {
  font-size: 14px;
}

/* CONTATOS */

#contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 210px;
  list-style: none;
  font-family: "Kanit", sans-serif;
}

#contacts-container {
  background-color: rgb(75, 75, 75, 0.5);
  padding: 35px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-size: 16px;
}
#contacts-container h3 {
  margin: 5px 0px;
}

#contacts-container ul a {
  color: aliceblue;
}

/* CONTATOS */

/* TEXTO */

.infos-right {
  color: aliceblue;
  margin: 15px;
  padding-bottom: 20px;
}

.infos-right li {
  margin: 18px;
}

.infos-right li h3 {
  font-size: 22px;
}

.date {
  font-weight: 900;
  font-style: oblique;
  font-family: "Kanit", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

/* TEXTO */

/* HABILIDADES */

.habilidades-diversas {
  background-color: rgb(75, 75, 75, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tech-container,
.sound-container,
.idiom-container {
  margin: 10px 0px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#music,
#code,
#language {
  background-color: rgb(25, 25, 25, 0.9);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.title i {
  margin-right: 5px;
}

/* HABILIDADES */

@media (min-width: 667px) {
  header {
    padding: 30px;
  }

  body {
    flex-direction: row;
    align-items: flex-start;
  }

  main {
    margin-left: 5px;
  }

  h1 {
    font-size: 30px;
  }

  #contacts-container {
    padding: 20px;
    margin-left: 20px;
  }

  .habilidades-diversas {
    padding: 10px;
    margin-left: 20px;
    margin-bottom: none;
  }

  h2 {
    margin-top: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 1024px) {
  #photo-container img {
    width: 300px;
    height: 300px;
    padding: 40px;
  }

  #photo-container {
    margin: 15px;
  }

  #contacts {
    width: 400px;
    height: 225px;
    font-size: 30px;
  }

  #nome-completo {
    font-size: 55px;
    width: 100%;
  }

  .habilidades-diversas {
    height: 60vh;
    padding: 30px 20px;
    height: fit-content;
    width: 65%;
  }

  #habilidades #list-hab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  #habilidades #list-hab li {
    margin: 20px 0px;
  }

  .habilidades-diversas h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }

  .habilidades-diversas .title {
    font-size: 30px;
  }

  #django {
    color: rgb(50, 50, 50);
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
  }

  #vercel {
    color: white;
  }

  #vscode {
    color: white;
  }

  .habilidades-diversas #orm-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: -4px;
  }

  .habilidades-diversas #orm-icon i {
    margin: 0px;
    font-size: 17px;
  }

  #ts-icon {
    margin-right: 5px;
  }

  .linkedin-li a {
    font-size: 26px;
  }

  #code {
    padding: 15px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 39px;
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }

  h3 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
    line-height: 33px;
  }

  #about {
    font-size: 25px;
    margin-left: 18px;
  }

  #about-me h2 {
    margin: 20px 0px;
  }

  #about-me p {
    margin: 30px 0px 50px 0px;
  }

  #education ul li {
    margin: 20px 15px;
  }

  #extra-courses ul li {
    margin: 15px;
  }

  .infos-right h2 {
    text-align: left;
    margin-left: 20px;
    font-size: 40px;
  }

  .infos-right li {
    margin: 20px 17px;
  }

  .infos-right .date {
    font-size: 25px;
  }

  .infos-right li h3 {
    font-size: 26px;
    margin: 5px 0px;
  }

  .infos-right li p {
    font-size: 24px;
  }

  #jobs li {
    margin: 30px 10px;
  }
}

@media (min-width: 1440px) {
  #contacts-container {
    font-size: 17px;
  }

  #contacts li {
    width: 300px;
  }

  .habilidades-diversas {
    width: 48%;
  }

  .habilidades-diversas h2 {
    margin: 0px 0px;
  }

  .infos-right h2 {
    margin-top: 40px;
    font-size: 35px;
  }

  .infos-right li {
    margin: 40px 10px;
  }

  .infos-right p {
    font-size: 30px;
    line-height: 40px;
  }

  .infos-right li h3 {
    font-size: 35px;
    margin: 2px 0px;
  }

  .infos-right .date {
    font-size: 24px;
  }

  .habilidades-diversas h4 {
    font-size: 23px;
  }

  .habilidades-diversas h2 {
    margin-top: 0px;
  }
}
